<!DOCTYPE html>
<html lang="en">

<head>
  <title>William Gadney - {{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="site_name" content="William Gadney">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:type" content="article">
  <meta property="article:author" content="William Gadney">
  <meta property="article:published_time" content="{{date | date: "%Y-%m-%d"}}">
  <meta property="og:url" content="https://gadnex.github.io{{page.url}}">
  <meta property="og:image" content="https://gadnex.github.io{{page.url}}opengraph.jpg">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="/js/theme-toggle.js"></script>
</head>

<body>
  <header>
    <nav>
      <div class="title">William Gadney</div>
      {% include 'menu' %}
      <div id="theme-toggle" class="theme-toggle">
        <svg aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
          <!-- https://feathericons.com/?query=sun -->
          <mask id="moon">
            <rect x="0" y="0" width="100%" height="100%" fill="white" />
            <circle cx="40" cy="8" r="11" fill="black" />
          </mask>
          <circle id="sun" cx="12" cy="12" r="11" mask="url(#moon)" />
          <g id="sun-beams">
            <line x1="12" y1="1" x2="12" y2="3" />
            <line x1="12" y1="21" x2="12" y2="23" />
            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
            <line x1="1" y1="12" x2="3" y2="12" />
            <line x1="21" y1="12" x2="23" y2="12" />
            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
          </g>
        </svg>
    </nav>
  </header>
  <main>
    <article>
      {{ content }}
    </article>
  </main>
  <footer>
    {% include 'footer' %}
  </footer>
</body>

</html>